:root {
    --navy: #060047;
    --rose: #B3005E;
    --pink: #E90064;
    --pinkseak: #E96479;
    --beaje: #F5E9CF;
}

.button-banner{
    position: absolute;
    margin: 2rem;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;  
    color: rgb(255, 255, 255);
    border-radius: 20px;
    top: 70%;
    right: 55%;
    background-color: var(--navy);
    border: 1px solid var(--navy);
    border-radius: 20px;
    transition: opacity 100ms ease;
    }

.button-banner:hover{
    font-weight: bold;
    opacity: 0.7;
}  


.presentation {
    background-color: var(--pinkseak);
    width: 100%;
    height: 55vh;
    position: relative;
}

.presentation::after {
    content: "";
    background-image: url('../image/banner.png');
    background-repeat: no-repeat;
    position: absolute;
    left: 250px;
    width: 100%;
    height: 45vh;
    margin-left: 50%;
    margin-top: 6.5rem;;
    
        
      
}

.presentation::before {
    content: "THE BEST OF NATURE BEAUTY";
    -webkit-text-stroke: 2px white;
    border-left: 2px solid var(--navy);
    position: absolute;
    padding: 1rem;
    padding-left: 2rem;
    margin-left: 100px;
    top: 50px;
    left: 4rem;
    height: 70%;
    width: 55rem;
    font-size: 6rem;
    font-weight: 600;
    color: transparent;
    letter-spacing: 7px;

}

