.nav,
.header {
  padding: 0.3rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #E2D4CB;
}

.nav-item {
  color: grey;
}


.nav-item:hover,
.nav-logo:hover {
  text-shadow: 2px 2px 2px #e793c8;
}


.div-container-nav-links {
  display: flex;
  gap: 2rem;
}

.logo {
  font-family: 'Montserrat', sans-serif,  'Rubik Iso', cursive, 'Shantell Sans', cursive;

}

.p-banner {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  margin: 2rem;

  display: inline-block;
  background: linear-gradient(to right, #e793c8, #d90c0c, #d257a5);
  background-size: 400% auto;
  color: transparent;
  background-clip: text;
}

