.nav,
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.3rem;
  }

  /*.header {
    background-image: url("../image/image-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }*/
  
  .nav-item,
  .nav-logo {
    text-decoration: none;
    color: grey;
  }

  .nav-logo{
    width: 3rem
  }
  
  .nav-item:hover,
  .nav-logo:hover {
    color: #95B46A;
  }

  .div-nav-components-icons {
    display: flex;
    flex-direction: row;
    gap: 3rem;

  }

  .page-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-shadow: 2px 2px 2px #3E5622;
    color: #172815;

  }

  .div-container-nav-links {
    display: flex;
    gap: 1rem;
  }

 