.nav,
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.3rem;
  }

  .header {
    background-image: url("../image/image-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .nav-item,
  .nav-logo {
    text-decoration: none;
    color: grey;
  }

  .nav-logo{
    width: 3rem
  }
  
  .nav-item:hover,
  .nav-logo:hover {
    color: yellow;
  }

  .div-nav-components-icons {
    display: flex;
    flex-direction: row;
    gap: 3rem;

  }

 