.button-add {
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 0.7rem; 
    border: 1px solid #9f8c80;
    color: #9f8c80;
    border-top-right-radius: 8px;
    margin-left: 50px;
    
}

.button-add:hover {
    text-shadow: 1px 1px #e793c8;
}

.trash {
    margin-right: 20px;
}



