.color1 {color: #361b14;}
.color2 {color: #533526;}
.color3 {color: #7a543f;}
.color4 {color: #ab805f;}
.color5 {color: #e8bb87;}


.color1 {color: #20b4d8;}
.color2 {color: #f290e7;}
.color3 {color: #f6a5c5;}
.color4 {color: #f4e19d;}
.color5 {color: #f8efba;}

font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;