
.input-with-icon {
    position: relative;
  }
  
  .input-with-icon input {
    padding-left: 30px;
  }
  
  .input-with-icon .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .search-input {
    border: 1px solid  #eff1ee; 
    border-radius: 20px;
    height: 2.5rem;
    width: 25rem;
    background-color: #eff1ee;
    outline: none;
    padding: 5px;
  }

  .icon{
    color: grey;
  }


 .matched-products {
  border: 2px solid #eff1ee;
  background-color: #f9f9f9;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  
 } 